.navigation{
    height: 220px;
    background-color: #ecf4fb;
    width:98%;
    top:0px;
    margin-left:10px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    /* transform: translate(0,100px); */
}
